header{width: 1550px;
    height:250px;
    background-color: rgba(255, 174, 0, 0.685);
    font-family: 'Fredoka One', cursive;
     display:block;}
 
header img{padding-left:60px;padding-top:-90px;}
     header a{margin:10px;top:15px;font-size:2em;position:relative;padding-left:30px;left: 500px;font-family: 'Fredoka One', cursive;border-radius:20px;background-color: rgba(222, 184, 135, 0.568);padding-left:5px;padding-right:5px;}
    header a:hover{background-color: rgba(110, 40, 10, 0.678);border-radius: 20px;}
    header a:active{color:rgba(245, 124, 68, 0.993);}
     
body{width: 200%;
     height: 100px;}

footer{width: 1550px;
    height:200px;
    background-color: rgba(255, 174, 0, 0.685);
    font-family: 'Fredoka One', cursive;
    display:block;
    position:absolute;
    top: 1000px;}
    footer img{top:10px; padding-left:650px;}
     p em{padding-left: 680px;} 